.stars input{
    display: none;
}

.stars label{
    font-size: 40px;
    color: #444;
    padding: 10px;
    float: right;
    transition: all 0.2s ease;
}

.stars input:not(:checked) ~ label:hover,
.stars input:not(:checked) ~ label:hover ~ label{
    color: #fd4;
}

.stars input:checked ~ label {
    color: #fd4;
    text-shadow: 0 0 20px #952;
}